*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release
vendor
fastlane/metadata/android/en-US/changelogs/*.txt
fastlane/metadata/android/ja-JP/changelogs/*.txt
exit_code
google-play-service.json